body {
  background-color: rgb(40, 40, 40);
  font-family: "Courier New", Courier, monospace;

  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  color: whitesmoke;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Header */

header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header img {
  margin: 20px;
  height: 100%;
  object-fit: contain;
}

/* Menu bar */

h1 {
  width: 60%;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  font-size: 48px;
  text-align: center;
  color: whitesmoke;
  user-select: none;
}

#sections_bar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 8vh;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  overflow: hidden;
}

#sections {
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#selected_menu {
  margin: 0px;
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  background-color: whitesmoke;
}

#selected_menu a {
  color: rgb(80, 80, 80);
}

.section {
  margin: 0px;
  height: 100%;
  flex: 1 1;
  list-style: none;
  border: 2px solid whitesmoke;
  background-color: rgb(50, 50, 50);
  font-size: 2em;
  transition: background-color 400ms ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section a {
  text-decoration: none;
  margin: 0px;
  color: whitesmoke;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 8vh;
}

.section:hover {
  background-color: rgb(80, 80, 80);
  transition: background-color 200ms ease-out;
}

#disconnect_link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: black;
}

/* Main frame */

#main_frame {
  border: solid grey 4px;
  border-radius: 10px;
  width: 90%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

.options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.option {
  width: 48%;
  margin-block: 5px;

  border: solid grey 5px;
  background-color: whitesmoke;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 5px;
}

.option label {
  color: green;
  font-size: 1.5em;
}

.option .input_field {
  color: aliceblue;
  margin: 10px;
}
