<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style/global_style.css">
</head>
<body>
    <header>
        <img src="/images/cannabis-logo.png">
        <h1>Serre connectée</h1>
        <img src="/images/cannabis-logo.png">
    </header>
    <!-- Ton bordel ici -->

    <!-- Fin du bordel -->
    <nav id=sections_bar>
        <ul id="sections">
            <li class="section"><a href="/infos">Informations</a></li>
            <li class="section" id="selected_menu"><a href="/config">Configurer</a></li>
            <li class="section"><a href="/settings">Parametres</a></li>
        </ul>
    </nav>
</body>
</html>