<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style/global_style.css">
</head>
<body>
    <header>
        <img src="/images/cannabis-logo.png">
        <h1>Serre connectée</h1>
        <img src="/images/cannabis-logo.png">
    </header>
    <!-- Ton bordel ici -->

    <div id="main_frame" class="options">

        <div class="option" id="change_pass_option">
            <div id="change_pass">
                <label>Changer de mot de passe</label>
                <div id="set_pass" class="input_field">
                    <input type="password", name="new_pass" id="new_pass" required>
                    <button id="submit_new_pass">Changer</button> 
                </div>
            </div>
        </div>
        <div class="option" id="add_wifi_option">
            <label>Ajouter un réseau wifi</label>
            <div class="hbox">
                <div class="vbox">
                    <div class="hbox">
                        <p style="color: black;">SSID :</p>
                        <div class="spacer_10px"></div>
                        <input type="text" name="ssid" id="ssid" placeholder="Bbox-167vd3">
                    </div>
                    <div class="hbox">
                        <p style="color: black;">KEY :</p>
                        <div class="spacer_10px"></div>
                        <input type="password" name="key" id="key" placeholder="Mot de passe">
                    </div>
                </div>
                <div class="spacer_10px"></div>
                <div class="spacer_10px"></div>
                <button id="submit_wifi">Ajouter</button>
            </div>
        </div>
        <div class="option" id="remove_wifi_option">
            <label>Supprimer un réseau wifi</label>
            <div class="hbox">
                <div class="hbox">
                    <p style="color: black;">SSID :</p>
                    <div class="spacer_10px"></div>
                    <input type="text" name="ssid_to_yeet" id="ssid_to_yeet" placeholder="Bbox-167vd3">
                </div>
                <div class="spacer_10px"></div>
                <div class="spacer_10px"></div>
                <button id="remove_wifi">Supprimer</button>
            </div>
        </div>
        <div class="option" id="disconnect_option">
            <a href="/disconnect">Se déconnecter</a>
        </div>
        <div class="option", id="reboot_option">
            <a href="/reboot">Redémarrer</a>
        </div>
        
    </div>

    <!-- Fin du bordel -->
    <nav id=sections_bar>
        <ul id="sections">
            <li class="section"><a href="/infos">Informations</a></li>
            <li class="section"><a href="/config">Configurer</a></li>
            <li class="section" id="selected_menu"><a href="/settings">Parametres</a></li>
        </ul>
    </nav>
<script type="text/javascript" src="scripts/utils.js"></script>
<script type="text/javascript" src="scripts/settings.js"></script>
</body>
</html>